@charset "utf-8";

//方向判断
@mixin direction($to-dir:upward,$border-color:#257cf0,$bg-color:#fff){
	$direction-map: upward downward leftward rightward; 
	$upward-map:$border-color $border-color $bg-color $bg-color;
	$downward-map:$bg-color $bg-color $border-color $border-color;
	$leftward-map:$border-color $bg-color $bg-color $border-color;
	$rightward-map:$bg-color $border-color $border-color $bg-color;
	$maps:(upward:$upward-map,downward:$downward-map,leftward:$leftward-map,rightward:$rightward-map);
	border-color:map-get($maps,$to-dir);    
}
// 实心三角形
@mixin trigon($width,$height,$to-dir,$border-color,$border-width:1px,$bg-color:#fff){
	width:$width;
	height:$height;
	border-width: $border-width;
	@include direction($to-dir,$border-color,$bg-color);
	border-style: solid;
	transform: rotate(-45deg);
}

// 三角形
@mixin triangle($direction, $size, $borderColor ) {
  content:"";
  height: 0;
  width: 0; 
  @if $direction == top {
    border-bottom:$size solid $borderColor;
    border-left:$size dashed transparent;
    border-right:$size dashed transparent;
  } 
  @else if $direction == right {
    border-left:$size solid $borderColor;
    border-top:$size dashed transparent;
    border-bottom:$size dashed transparent;
  } 
  @else if $direction == bottom {
    border-top:$size solid $borderColor;
    border-left:$size dashed transparent;
    border-right:$size dashed transparent;
  } 
  @else if $direction == left {
    border-right:$size solid $borderColor;
    border-top:$size dashed transparent;
    border-bottom:$size dashed transparent;
  }
}
@mixin triangle2($direction, $widthSize, $heightSize, $borderColor ) {
  content:"";
  height: 0;
  width: 0;
  border-style: solid; 
  @if $direction == top {
  border-width: 0 $heightSize/2 $widthSize $heightSize/2 ;
  border-color: transparent transparent $borderColor transparent;
  } 
  @else if $direction == right {
  border-width: $heightSize/2 0 $heightSize/2 $widthSize;
  border-color: transparent transparent transparent $borderColor;
  } 
  @else if $direction == bottom {
  border-width: $widthSize $heightSize/2  0 $heightSize/2 ;
  border-color: $borderColor transparent transparent transparent;
  } 
  @else if $direction == left {
  border-width: $heightSize/2 $widthSize $heightSize/2 0;
  border-color: transparent $borderColor transparent transparent;
  }
}